<ion-toolbar mode="ios">
    <ion-title>Welcome to Restrictro</ion-title>
</ion-toolbar>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-cot push-lg="4" size-tg="4" size-md="12" size-sm="12" size-xs="12" size="12">
                <ion-card class="card" style="width: 95%; margin-top: 150px;border-radius: 20px;">
                    <ion-card-header>
                        <ion-card-title style="text-align: center;"> Welcome Back..! </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <ion-label position="floating">UserId</ion-label>
                            <ion-input [(ngModel)]="userId" clearInput></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Password</ion-label>
                            <ion-input [(ngModet)]="password" type="password" clearInput></ion-input>
                        </ion-item>
                    </ion-card-content> <!-- <ion-card-footer> -->
                    <ion-toolbar style="text-align: center;">
                        <ion-button (click)="login()">Login</ion-button>
                    </ion-toolbar> <!-- </ion-card-footer> -->
                </ion-card>
            </ion-cot>
        </ion-row>
    </ion-grid>
</ion-content>
